/*
 * 色指定に関する変数群
 */
$primary: rgb(243, 121, 0);
$primary_light: rgb(249, 155, 62);
$primary_highlight: rgb(249,180,112);

$secondary_a: rgb(243, 155, 0);
$secondary_a_light: rgb(249,181,62);
$secondary_a_highlight: rgb(249,199,112);

$secondary_b: rgb(243, 69, 0);

$complement: rgb(4, 123, 150);


/*
 * レイアウトに関する変数群
 */
$side_padding: 10px;