// Place all the styles related to the work controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	text-align:center;
	border:solid 1px black;
}

th{
	border:solid 1px black;
	padding:3px 10px 3px 10px;
}
td{
	border:solid 1px black;
}
#notice{
	color:red;
}
//img{
//	height:50px;
//}